[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "ffxiv_pictomancy"]
	path = ffxiv_pictomancy
	url = https://github.com/sourpuh/ffxiv_pictomancy
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/LeontopodiumNivale14/OtterGui
